h3 {
    color: #cf5c36;
}

body {
    background-color: #F4E3B2;
}




ul {
    list-style: circle
}

#profile-pic {
    border-radius: 50%;
}

#left-col {
    background-color: #efc88b;
    width: 17em;
    height: 100vh;
}

#obj {
    margin-top: 1em;
}

h4 {
    color: #1B2A41;
}

h5 {
    color: #1F487E;
}

p {
    color: #283845;
}

#dates {
    color: #B0413E;
}

li {
    color: #B0413E;
}
h2 {
    color: #1B2A41;
}
span{
    color:#044389;
}